#blog-section{
    padding: 60px 0;
    @include media-breakpoint-down(sm){
        padding: 10px 0;
    }
    .blog-entry{
        h3{
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: 10px;
            margin-top: 0;
            a{
                color: $black;
            }
        }
        .post-meta {
            color: #b3b3b3;
            line-height: 1.7;
            font-weight: 400;
            font-size: 16px;
        }
        p{
            line-height: 1.7;
            color: gray;
            font-weight: 400;
            font-size: 16px;
        }
        a{
            color: $theme-color;
            text-decoration: none;
        }
    }
}