#gallery{
    padding: 60px 0;
    @include media-breakpoint-down(sm){
        padding: 10px 0;
    }
    .gal-item{
        -webkit-transition: 0.3s all ease-in-out !important;
        -o-transition: 0.3s all ease-in-out !important;
        transition: 0.3s all ease-in-out !important;
        &:hover{
            -webkit-transform: scale(1.2) !important;
            -ms-transform: scale(1.2) !important;
            transform: scale(1.2) !important;
            z-index: 4;
            -webkit-box-shadow: 0 4px 40px -4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 40px -4px rgba(0, 0, 0, 0.4);
            -webkit-transition: 0.3s all ease-in-out !important;
            -o-transition: 0.3s all ease-in-out !important;
            transition: 0.3s all ease-in-out !important;
        }
    }
}