#trainers-section{
    padding: 60px 0;
    @include media-breakpoint-down(sm){
        padding: 10px 0;
    }
    .trainer{
        margin-bottom: 20px;
        overflow: hidden;
        img{
            transition: 1s all;
            &:hover{
                transform: scale(1.1);
                transition: 2s all;
            }
        }
    }
    .trainers-content{
        h3{
            font-size: 1.3rem;
            color: #405a58;
            margin-bottom: 1.3rem;
            font-weight: 500;
            line-height: 1.2;
        }
        p{
            color: #405a58;
            line-height: 1.7;
            font-weight: 400;
            font-size: 1rem;
        }
        .ul-social-circle {
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                margin-bottom: 5px;
                &:first-child{
                    margin-left: 0;
                }
                a {
                    position: relative;
                    top: 0;
                    -webkit-transition: .2s all ease-in-out;
                    -o-transition: .2s all ease-in-out;
                    transition: .2s all ease-in-out;
                    background-color: $theme-color;
                    border-radius: 5px;
                    i{
                        width: 30px;
                        height: 30px;
                        background: $white;
                        color: $black;
                        font-size: 13px;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 50%;
                        display: inline-block;
                    }
                    &:hover{
                        top: -7px;
                    }
                }
            }
        }
    }
}